<%= form_for @recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>
    <%= f.fields_for :ingredients do |ingredient| %>
      Name: <%= ingredient.text_field :name %>
      Quantity: <%= ingredient.text_field :quantity %>
    <% end %>
    <%= link_to 'add ingredient', @recipe %>
  <%= f.submit %>
<% end %>
