<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
   <p>
  Ingredients:
  </p>
    <%= f.fields_for :ingredients do |ingredient| %>
    <fieldset>
    Quantity: <%= ingredient.text_field :quantity %>
    Name: <%= ingredient.text_field :name %>
  </fieldset>
  <% end %>
   <p>
  <%= f.submit %>
  </p>
<% end %>
