<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <h3>Ingredients</h3>
  <ul>
    <%= f.fields_for :ingredients do |i| %>
      <li>
        <%= i.label :name %>
        <%= i.text_field :name %><br>
        <%= i.label :quantity %>
        <%= i.text_field :quantity %>
      </li>
    <% end %>
  </ul>

  <br>
  <%= f.submit %>
<% end %>
