<h1>Add a Recipe Form</h1>
<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %><br>

 <%= f.fields_for :ingredients do |ingredient_builder| %>
 	<p>
		<%= ingredient_builder.label :name %>
		<%= ingredient_builder.text_field :name %>
		<%= ingredient_builder.label :quantity %>
		<%= ingredient_builder.text_field :quantity %>
	</p>
 <% end %>

  <br>
  <%= f.submit %>

<% end %>
