<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>

  <p>
  Ingredients:
  </p>
    <%= f.fields_for :ingredients do |ing| %>
    <fieldset>
    Quantity: <%= ing.text_field :quantity %>
    Name: <%= ing.text_field :name %>
  </fieldset>
  <% end %>

  <p>
  <%= f.submit %>
  </p>
<% end %>
