<%= form_for @recipe do |f| %>
  <h4>Title:</h4>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
  <h4>Ingredients:</h4>
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :name %><br> 
    
    <%= ingredient.label :quantity %>
    <%= ingredient.text_field :quantity %><br>
    <br></br>
  <% end %>
  
  <br></br>
  
  <%= f.submit %>
  
<% end %>
