<%= form_for recipe do |f| %>
  Title: <%= f.text_field :title %>
  <ul>
  <%= f.fields_for :ingredients do |ingredient| %>
  	<li>
   		<%= ingredient.label :name %>
    	<%= ingredient.text_field :name %><br>
 	</li>
 	<li>
    	<%= ingredient.label :quantity %>
    	<%= ingredient.text_field :quantity %><br>
    </li>
  <% end %>
  </ul>
  <%= f.submit %>
<% end %>