
<%= form_for recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <ul>
    <%= f.fields_for :ingredients, [Ingredient.new, Ingredient.new, Ingredient.new, Ingredient.new] do |ingredient_form| %>
    <li>
      name: <%= ingredient_form.text_field :name %>
      qty: <%= ingredient_form.text_field :quantity %>
    </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
