<%= form_for @recipe do |f| %>
	<%= f.label :title %>
  	<%= f.text_field :title %>

	  	<%= f.fields_for :ingredients do |ingredient_builder| %>
	  	<%= ingredient_builder.label :name %>
	  	<%= ingredient_builder.text_field :name %>

	  	<p></p>

	  	<%= ingredient_builder.label :quantity %>
	  	<%= ingredient_builder.text_field :quantity %>

  	<%end %>
    
    <%= f.submit %>
<% end %>
