<%= form_for @recipe do |f| %>
  <label>Recipe</label>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.fields_for :ingredients do |ingredient| %>
  	<label>Ingredient</label>
  	<%= ingredient.label :name %>
  	<%= ingredient.text_field :name %><br>

  	<label>Ingredient</label>
  	<%= ingredient.label :quantity %>
  	<%= ingredient.text_field :quantity %><br>
  <% end %>

  <%= f.submit %>
<% end %>
