<%= form_for @recipe do |f| %>
  <%=f.label(:title)%>
  <%= f.text_field :title %><br>
  <br>

  <%=f.label(:ingredients)%>
  <ul>
    <%=f.fields_for(:ingredients) do |ing|%>
    <li>
      <%=ing.label(:quantity)%>
      <%=ing.text_field(:quantity)%><br>

      <%=ing.label(:name)%>
      <%=ing.text_field(:name)%><br>
      <br>
    </li>
    <%end%>
  </ul>

  <%=f.submit%>
<% end %>
