<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %><br></br>

  Ingredients: 
  <ul>
    <%= f.fields_for :ingredients do |ingred| %>
      <li>
        Name: <%= ingred.text_field :name %><br></br>
        Quantity: <%= ingred.text_field :quantity %><br></br>
      </li>
    <% end %>
  </ul>
  
  <%= f.submit %>
<% end %>
