<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <ul>
    <%= f.fields_for :ingredients do |item| %>
    <li>Name: <%= item.text_field :name %></li>
    <li>Quanity: <%= item.text_field :quantity %></li>
    <% end %>
  </ul>

  <%= f.submit%>
<% end %>
