<%= form_for @recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <ul>
    <%= f.fields_for :ingredients do |ingr| %>
    <li>
      Name: <%= ingr.text_field :name %>
     Quantity: <%= ingr.text_field :quantity %>
    </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
