<h1>Add  a Recipe</h1>
<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <p>

  <%= f.fields_for :ingredients do |ing| %>
      <%= ing.label :name%>
      <%= ing.text_field :name %>
      <%= ing.label :quantity %>
      <%= ing.text_field :quantity %>
      <p>
      
  <% end %>
  <%= f.submit %>
<% end %>

