<%= form_for @recipe do |f| %>
<p>Title: <%= f.text_field :title %></p>

  <ul>
    <%= f.fields_for :ingredients do |i| %>
      <li>
      <%= i.label :ingredient_name %>
      <%= i.text_field :name %><br />
      <%= i.label :quantity %>
      <%= i.text_field :quantity %><br />
      </li>
    <% end %>

  <%= f.submit %>

<% end %>
