<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %> <br><br>

  <%= f.fields_for :ingredients do |ingredient_field| %>
    <li>
      <%= ingredient_field.label :quantity %>:
      <%= ingredient_field.text_field :quantity %>

      <%= ingredient_field.label :name %>:
      <%= ingredient_field.text_field :name %>
    </li>
  <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
