<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <%=f.fields_for :ingredients do |ingr|%>
  <li>
    name: <%= ingr.text_field :name %>
    qty: <%= ingr.text_field :quantity %>
  </li>
  <% end %>
 <%= f.submit %>
<% end %>
