<%= form_for @recipe do |f| %>
      Recipe Title: <%= f.text_field :title %>
      <br></br>
      Ingredients:
      <ul>
            <%= f.fields_for :ingredients do |ing|%>
            <li>
                  Name: <%= ing.text_field :name%>
                  Qty:  <%= ing.text_field :quantity%>
            </li>
            <%end%>

      </ul>
      <%= f.submit%>

<% end %>
<br></br>
  <%= link_to 'Recipes Index', @recipe%>
