<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <br>
  <h2>Ingredients:</h2>
  <%= f.fields_for :ingredients do |ingredient| %>
  	<% field_set_tag "Ingredient" do |f| %>
  	<%= ingredient.label :name %>
  	<%= ingredient.text_field :name %>
	<br>
  	<%= ingredient.label :quantity %>
	<%= ingredient.text_field :quantity %>
	<br>
	<% end %>
  <% end %> 	
  <%= f.submit %>
<% end %>
