<%= form_for @recipe do |f| %>
  <p> Title: <%= f.text_field :title %> </p>
  <ul>Ingredients:
  		<%= f.fields_for :ingredients do |ingredient| %>
  		<li>
  			name: <%= ingredient.text_field :name %>
  			quantity: <%= ingredient.text_field :quantity %>
  		</li>
  		<% end %>
  		<%= link_to 'add ingredient', @recipe %>
	  </ul>	
	  <%= f.submit %>	
<% end %>
