<!-- <%= render 'form', recipe: @recipe %> -->
<!--
<form action="/recipes" method="POST">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <label for="title">Title:</label>
  <input id="title" type="text" name="recipe[title]" ><br>
  Ingredients:<br>
    1. <input type="text" name="recipe[ingredients_attributes][][name]">
    Quantity: <input type="text" name="recipe[ingredients_attributes][][quantity]"><br>
    2. <input type="text" name="recipe[ingredients_attributes][][name]">
    Quantity: <input type="text" name="recipe[ingredients_attributes][][quantity]"><br>
    3. <input type="text" name="recipe[ingredients_attributes][][name]">
    Quantity: <input type="text" name="recipe[ingredients_attributes][][quantity]"><br>

    <br>
  <input type="submit" value="Submit">
</form> -->

<%= form_for @recipe do |f| %>
  <fieldset>
    <legend>Recipe</legend>
    <%= f.label :title, "Name:" %>
    <%= f.text_field :title %>
  </fieldset>

    <%= f.fields_for :ingredients do |ingredient| %>
      <fieldset>
        <%= ingredient.label :name, "Ingredient:" %>
        <%= ingredient.text_field :name %>

        <%= ingredient.label :quantity, "Quantity:" %>
        <%= ingredient.text_field :quantity %><br>
      </fieldset>
    <% end %>
  <br>
  <%= f.submit %>
<% end %>
