<%= form_for @recipe do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.fields_for :ingredients do |ingr| %>
<li>
  name:
<%= ingr.text_field :name %>
  quantity:
<%= ingr.text_field :quantity %>
</li>
  <% end %>
  <%= link_to 'add ingredients', @recipe %>

  <%= f.submit %>
<% end %>
