<%= form_for @recipe do |f| %>
  <h3>Title: <%= f.text_field :title %></h3>
    <ul>
      <li>
        <%= f.fields_for :ingredients do |ingr| %>
          Name: <%= ingr.text_field :name %>
          Qty: <%= ingr.text_field :quantity %>
      <li>
        <%= link_to "Recipe", @recipe %>
      <% end %>
    </ul>
    <%= f.submit %>
<% end %>
