<h1>Create a post!</h1><br>
<%= form_for @post do |f| %>
	<%= f.label :content %><br>
	<%= f.text_field :content %><br>
	<%= f.label :author_name %><br>
	<%= f.text_field :author_name %><br>
	
	<%= f.submit %>
	

<% end %>
